# Tests
tests/
test-pages/
test-results/
playwright-report/
playwright.config.ts
vitest.config.ts

# Build config
tsconfig.json
tsup.config.*
*.tsbuildinfo

# Dev config
.git/
.github/
.vscode/
.eslintrc*
.prettierrc*
.editorconfig
node_modules/

# Misc
*.tgz
.DS_Store
coverage/
